MildenhallExpander {
    background-color: #1e6591;
}

MildenhallExpander MxIcon#mildenhall-expander-arrow-up {
    padding: 2;
    -mx-content-image: url('expander-arrow-up.png');
}

MildenhallExpander MxIcon#mildenhall-expander-arrow-down {
    padding: 2;
    -mx-content-image: url('expander-arrow-down.png');
}

